
.create-todo-container {
  text-align: center;
  background-color: rgb(46, 104, 46);
}

.input-text {
  width: 250px;
  padding: 5px 0;
}

button {
  cursor: pointer;
  padding: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  background-color: rgba(37, 175, 111, 0.392);
  border: 2px solid rgb(27, 128, 27);
  border-width: 0 0 2px 0;
}

li:hover {
  background-color: rgb(37, 175, 111);
}

p {
  width: 80%;
  text-align: center;
}
